.warehouse {
  &__btn {
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    height: 35px;

    &--0 {
      color: #025b94;
    }
    &--1 {
      background-color: #20bec6;
      width: 140px;
      height: 35px;
      line-height: 25px;
    }
    &--2 {
      background-color: #025b94;
      width: 140px;
      line-height: 25px;
    }
    &--filter {
      background-color: #025b94;
    }
  }
}

.warehouse-filter {
  padding: 10px 10px;
  background-color: #eef3f6;
  border: none !important;
  border-radius: 8px;
  color: #708180;
  &__input {
    border: none;
    background-color: #eef3f6 !important;
    .ant-input {
      background-color: #eef3f6 !important;
    }
  }
}
